@font-face {
    font-family: 'DS-Digital';
    src: url('resources/fonts/DS-DIGI.TTF') format('truetype');
}

@font-face {
    font-family: 'Digital-7';
    src: url('./resources/fonts/digital-7.mono.ttf');
}

@font-face {
    font-family: 'Technology';
    src: url('./resources/fonts/Technology.ttf');
}

html,
body {
    height: 100%;
    width: 100%;
    margin: none;
    padding: none;
}

* {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -user-select: none;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('/resources/images/blue.avif');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


.container {
    height: 80vh;
    width: 55vh;
    background-color: #35394C;
    border-radius: 50px;
    cursor: pointer;
    padding: 8px;
    border: 2px solid rgb(174, 160, 160);
}

.second-layer {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-color: #35394C;
    border: 2px solid rgb(213, 198, 198);
    border-radius: 45px;
    align-items: center;
    gap: 5%;
}

.display {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 25%;
    width: 87%;
    margin-top: 5%;
    padding: 3%;
    justify-content: space-between;
    background-color: #628b45;
    border-radius: 20px;
    border: 1px solid rgb(223, 212, 212);
    box-shadow: inset -5px 5px 5px rgba(0, 0, 0, 0.5), inset 5px -5px 5px rgba(0, 0, 0, 0.5)
}

.current-value {
    text-align: right;
    font-family: 'DS-DIGITAL', 'Digital-7', 'Orbitron';
    white-space: nowrap;
    font-size: 8.2vh;
    width: 100%;
    height: 8vh;
    margin: 0;
    margin-top: 1.8vh;
    font-weight: 400;
    overflow: hidden;
    color: rgb(33, 32, 32);

}

.previous-value {
    text-align: right;
    font-family: 'DS-DIGITAL', 'Digital-7', 'Orbitron';
    font-size: 4vh;
    margin: none;
    margin-bottom: 1.5vh;
    margin-right: 3vmin;
    font-weight: 400;
    color: rgb(33, 32, 32);
}

.button-container {
    display: flex;
    flex-direction: column;
    height: 70%;
    width: 90%;
    margin-bottom: 5%;
    gap: 5%;
}

.rectangle-button-row {
    display: flex;
    height: 8.5%;
    justify-content: space-between;
    gap: 7%;
}

.rectangle-button-row button {
    flex: 1;
    border-radius: 15px;
    border: none;
}

button {
    font-size: 3.7vh;
    font-weight: 900;
    text-align: center;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.7), 0 3px 6px rgba(0, 0, 0, 0.10);
    cursor: pointer;
    transform: translateY(-3px);
    border: 2px solid rgb(234, 223, 223);
    color: white;
    background: linear-gradient(to bottom right, #4df2f2, #5f6df1, #f560bc);
    font-family: 'Digital-7', 'DS-DIGITAL', 'Orbitron';
}


button:active {
    box-shadow: inset 3px 3px 3px rgba(0, 0, 0, 0.2), inset -3px -3px rgba(0, 0, 0, 0.2);
    transform: translateY(1px);
}

.bottom-button-section {
    display: flex;
    height: 90%;
    gap: 5%;
}

.left-button-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 75%;
}

.left-button-section div {
    display: flex;
    justify-content: space-between;

}

.left-button-section button {
    width: 25%;
    aspect-ratio: 1;
    border: none;
    border-radius: 50%;
}

.right-button-section {
    display: flex;
    flex-direction: column;
    width: 20%;
    gap: 5%;
}



.substraction,
.addition {
    width: 95%;
    border: none;
    aspect-ratio: 1;
    border-radius: 50%;

}

.substraction,
.addition,
.division,
.multiply {
    background: linear-gradient(to bottom right, rgb(235, 183, 87), rgb(223, 110, 18), rgb(246, 192, 91));
}

.equal {
    height: 50%;
    border-radius: 50px;
    border: none;
    background: linear-gradient(to bottom right, pink, blue, pink);
    margin-top: auto;

}

.clear {
    background: linear-gradient(to bottom right, pink, rgb(224, 38, 69), pink);
}

.ac {
    background: linear-gradient(to bottom right, pink, rgb(224, 38, 69), pink);
    word-spacing: -10px;
}

.multiply {
    font-weight: 400;
}

.dot,
.toggle {
    background: linear-gradient(to bottom right, rgb(77, 229, 77), green, rgb(88, 232, 88));
}