@font-face {
    font-family: 'DS-Digital';
    src: url('resources/fonts/DS-DIGI.TTF') format('truetype');
}

@font-face {
    font-family: 'Digital-7';
    src: url('./resources/fonts/digital-7.mono.ttf');
}

@font-face {
    font-family: 'Technology';
    src: url('./resources/fonts/Technology.ttf');
}

html,
body {
    height: 100%;
    width: 100%;
    margin: none;
    padding: none;
}

* {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -user-select: none;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: blueviolet; */
    background-color: white;
}

.container {
    height: 80vh;
    width: 55vh;
    /* background-color: rgb(192, 23, 51); */
    background-color: #FCC956;
    border-radius: 50px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 1), 0 3px 20px rgba(0, 0, 0, 0.10);
    cursor: pointer;
    padding: 8px;
}

.second-layer {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    /* background-color: rgb(43, 213, 45); */
    background-color: #FCC956;
    border-radius: 45px;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.5), 0 3px 10px rgba(0, 0, 0, 0.10);
    align-items: center;
    gap: 5%;
}

.display {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 25%;
    width: 87%;
    margin-top: 5%;
    padding: 3%;
    justify-content: space-between;
    background-color: #628b45;
    /* background-color: #A4A3A9; */
    border-radius: 20px;
    box-shadow: inset -5px 5px 5px rgba(0, 0, 0, 0.5), inset 5px -5px 5px rgba(0, 0, 0, 0.5)
}

.current-value {
    text-align: right;
    font-family: 'DS-DIGITAL', 'Digital-7', 'Orbitron';
    white-space: nowrap;
    font-size: 8.2vh;
    width: 100%;
    height: 8vh;
    margin: 0;
    margin-top: 1.8vh;
    font-weight: 400;
    overflow: hidden;

}

.previous-value {
    text-align: right;
    font-family: 'DS-DIGITAL', 'Digital-7', 'Orbitron';
    font-size: 4vh;
    margin: none;
    margin-bottom: 1.5vh;
    margin-right: 3vmin;
    font-weight: 400;
}

.button-container {
    display: flex;
    flex-direction: column;
    height: 70%;
    width: 90%;
    margin-bottom: 5%;
    gap: 5%;
}

.rectangle-button-row {
    display: flex;
    /* border: 2px solid red; */
    height: 8.5%;
    justify-content: space-between;
    gap: 7%;
}

.rectangle-button-row button {
    /* height: 30%; */
    flex: 1;
    border-radius: 15px;
    border: none;
}

button {
    font-size: 3.7vh;
    font-weight: 900;
    text-align: center;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.7), 0 3px 6px rgba(0, 0, 0, 0.10);
    cursor: pointer;
    transform: translateY(-3px);
    font-family: 'Digital-7', 'DS-DIGITAL', 'Orbitron';
    /* transition: all 0.2s ease-in-out; */
}

button:active {
    box-shadow: inset 3px 3px 3px rgba(0, 0, 0, 0.2), inset -3px -3px rgba(0, 0, 0, 0.2);
    transform: translateY(1px);
}

.bottom-button-section {
    display: flex;
    height: 90%;
    gap: 5%;
}

.left-button-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 75%;
    /* gap: 2%; */
}

.left-button-section div {
    display: flex;
    justify-content: space-between;

}

.left-button-section button {
    width: 25%;
    aspect-ratio: 1;
    border: none;
    border-radius: 50%;
}

.right-button-section {
    display: flex;
    flex-direction: column;
    width: 20%;
    gap: 5%;
}



.substraction,
.addition {
    width: 95%;
    border: none;
    aspect-ratio: 1;
    border-radius: 50%;

}

.substraction,
.addition,
.division,
.multiply,
.dot,
.toggle {
    /* background-color: rgb(82, 231, 82); */
    background-color: rgb(84, 121, 245);
    /* background-color: rgb(6, 188, 249); */
}

.equal {
    /* width: 27%; */
    height: 50%;
    border-radius: 50px;
    border: none;
    background-color: #FF8446;
    margin-top: auto;

}

.clear {
    background-color: #FF8446;
}

.ac {
    background-color: rgb(231, 94, 117);
    word-spacing: -10px;
}

.multiply {
    font-weight: 400;
}