html,
body {
    height: 100%;
    width: 100%;
    margin: none;
    padding: none;
}

* {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -user-select: none;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: blueviolet;
}

.container {
    height: 80vh;
    width: 55vh;
    background-color: #FCC956;
    border-radius: 50px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 1), 0 3px 20px rgba(0, 0, 0, 0.10);
    cursor: pointer;
    padding: 8px;
}

.second-layer {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-color: #FCC956;
    border-radius: 45px;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.5), 0 3px 10px rgba(0, 0, 0, 0.10);
}